[defaults]
# Below var is required else shade component is not available to python
# Detailed discussion @ https://github.com/ansible/ansible/issues/6345
ansible_python_interpreter="/usr/bin/env python"

# log file location
log_path = /tmp/ansible.log

# Sample inventory files
## ci-cd-bpms application
# hostfile = inventory/hosts-ci-cd-bpms
## Random workload on AWS
#hostfile = inventory/aws/random_hosts
# Random workload on Azure
